* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: #444;
  padding: 0 2.8rem;
}

.main {
  min-height: calc(100vh - 6.5rem);
  padding: 8rem 0 12rem;
}

.heading {
  font-size: 3.8rem;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 8rem;
}

.components {
  list-style: none;

  display: flex;
  gap: 7rem;
  justify-content: center;
  flex-wrap: wrap;
}

.component-item {
  width: 34rem;
  border-radius: 2rem;
  padding: 1.6rem 1.6rem 3.5rem;
  box-shadow: 0 1.5rem 3rem hsla(0, 0%, 0%, 0.15);

  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.image-box {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.image-box a {
  display: block;
}

.image {
  width: 100%;
  height: 20rem;
  transition: transform 0.4s ease-out;
}

.image--rating {
  transform: scale(1.24);
}

.image--rating:hover {
  transform: scale(1.33);
}

.image--accordion {
  transform: scale(1.03);
}

.image--accordion:hover {
  transform: scale(1.09);
}

.image--expenses {
  transform: scale(1.1);
}

.image--expenses:hover {
  transform: scale(1.18);
}

.title {
  text-align: center;
  min-height: 3.5rem;
  padding: 0 0.5rem;
}

.title a:link,
.title a:visited {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0 0.5rem 0.2rem;
  transition: color 0.3s ease-in-out;
}

.title a:hover,
.title a:active {
  color: hsl(24, 82%, 53%);
}

.title a:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem hsl(24, 82%, 53%, 0.4);
}

.title a:focus:not(:focus-visible) {
  box-shadow: none;
}

.footer {
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  color: #888;
  height: 6.5rem;
  padding-bottom: 0.8rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.attribution a:link,
.attribution a:visited {
  color: hsl(24, 82%, 53%);
  text-decoration: none;
  border-radius: 0.2rem;
  border-bottom: 1px solid hsl(24, 82%, 53%, 0.8);
  transition-property: border-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.attribution a:hover,
.attribution a:active {
  border-bottom: 1px solid #fff;
}

.attribution a:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem hsl(24, 82%, 53%, 0.4);
}

.attribution a:focus:not(:focus-visible) {
  box-shadow: none;
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* ABOVE 640px */
@media (min-width: 40em) {
  html {
    font-size: 65.63%;
  }

  body {
    padding: 0 5rem;
  }

  .main {
    min-height: calc(100vh - 2.5rem);
  }

  .heading {
    font-size: 4.1rem;
    letter-spacing: 0.35rem;
  }

  .components {
    gap: 6rem;
  }

  .image {
    height: 22rem;
  }

  .footer {
    height: 2.5rem;
  }
}

/* ABOVE 944px */
@media (min-width: 59em) {
  html {
    font-size: 68.75%;
  }

  .component-item {
    border-radius: 2.2rem;
    padding: 1.7rem 1.7rem 3.8rem;
    gap: 3.8rem;
  }

  .heading {
    font-size: 4.3rem;
    letter-spacing: 0.4rem;
  }

  .footer {
    font-size: 1.15rem;
    padding-bottom: 0.7rem;
  }
}

/* ABOVE 1200px */
@media (min-width: 75em) {
  html {
    font-size: 71.88%;
  }

  body {
    padding: 0 10rem;
  }

  .heading {
    font-size: 4.5rem;
    letter-spacing: 0.45rem;
  }
}
