* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.2px;
  color: hsl(238, 29%, 16%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  padding: 0 2.5rem;

  display: flex;
  align-items: start;
  justify-content: center;
}

.faq-component {
  max-width: 33rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 0 2.5rem 0;
  border-radius: 2.3rem;
  margin: 15rem 0 5rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-rows: 3rem auto;
}

.img-box {
  position: relative;
}

.img-upper-mobile {
  width: 88%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;
}

.img-bottom-mobile {
  width: 88%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.img-upper-desktop {
  display: none;
}

.img-bottom-desktop {
  display: none;
}

.text-box {
  margin: 38% 0 5rem;
}

.heading {
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.question-box {
  border-bottom: 1px solid hsl(240, 5%, 91%);

  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
}

.question {
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 1.8rem 0;
  justify-self: start;
  cursor: pointer;
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.question-selected {
  font-weight: 600;
  color: hsl(238, 29%, 16%);
}

.btn-arrow {
  background-color: hsl(0, 0%, 100%);
  border: none;
  justify-self: end;
  cursor: pointer;
  border-radius: 0.2rem;
}

.btn-arrow:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem hsla(14, 88%, 65%, 0.4);
}

.btn-arrow:focus:not(:focus-visible) {
  box-shadow: none;
}

.answer {
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

.rotated {
  transform: rotate(180deg);
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* ABOVE 800px */
@media (min-width: 50em) {
  .faq-component {
    max-width: 68rem;
    min-height: 45rem;
    margin-top: 10rem;
    padding: 0;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
  }

  .faq-component::after {
    content: '';
    background: url('img/illustration-box-desktop.svg') no-repeat;
    background-size: 74%;
    display: block;
    width: 19.1rem;
    height: 18.4rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-36%, 101%);
    z-index: 9999;
  }

  .img-box {
    overflow: hidden;
  }

  .img-upper-mobile {
    display: none;
  }

  .img-bottom-mobile {
    display: none;
  }

  .img-upper-desktop {
    display: block;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-17.6%, 30%);
    z-index: 2;
  }

  .img-bottom-desktop {
    display: block;
    width: 250%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-63.5%, -31%);
    z-index: 1;
  }

  .text-box {
    margin: 7rem 2.2rem 5rem 0;
  }

  .heading {
    text-align: start;
    margin-bottom: 2rem;
  }

  .question-box {
    grid-template-columns: 1fr 3.5rem;
  }

  .question {
    font-size: 1.4rem;
  }

  .btn-arrow {
    justify-self: center;
  }

  .icon {
    width: 1.1rem;
  }

  .answer {
    font-size: 1.25rem;
  }
}

/* ABOVE 1040px */
@media (min-width: 65em) {
  .faq-component {
    max-width: 92rem;
    min-height: 51rem;
  }

  .faq-component::after {
    background-size: 100%;
    transform: translate(-49%, 111%);
  }

  .img-upper-desktop {
    width: 105%;
    transform: translate(-17.6%, 20%);
  }

  .img-bottom-desktop {
    width: 215%;
    transform: translate(-59.5%, -31%);
  }

  .text-box {
    margin-right: 10rem;
  }

  .heading {
    font-size: 3.2rem;
  }

  .question {
    font-size: 1.45rem;
  }
}
