:root {
  --soft-red: hsl(10, 79%, 65%);
  --soft-red-lighter: rgb(252, 168, 151);
  --cyan: hsl(186, 34%, 60%);
  --cyan-lighter: rgb(172, 221, 231);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  color: var(--medium-brown);
  background-color: var(--cream);
  min-height: 100vh;
  padding: 0 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 43rem;
  width: 100%;
  height: 53rem;

  display: grid;
  grid-template-rows: 9.5rem 1fr;
  row-gap: 1.5rem;
}

.top-box {
  background-color: var(--soft-red);
  border-radius: 1.2rem;
  padding: 0 2.5rem 0 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.07);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-text {
  color: var(--cream);
  margin-bottom: 1rem;
}

.balance-value {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--very-pale-orange);
}

.icon {
  width: 6rem;
}

.bottom-box {
  background-color: var(--very-pale-orange);
  border-radius: 1.2rem;
  padding: 3rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);

  display: grid;
  grid-template-rows: 4rem 1fr 5.5rem;
  row-gap: 2.5rem;
}

.title {
  font-size: 2.45rem;
  font-weight: 700;
  color: var(--dark-brown);
}

.chart-container {
  width: 100%;
  padding: 1.5rem 0 2.5rem;
  border-bottom: 2.5px solid var(--cream);

  display: flex;
  gap: 1.2rem;
}

.day-box {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 2.2rem;
  align-items: end;
}

.bar-box {
  align-self: stretch;
  position: relative;

  display: flex;
}

.bar {
  width: 100%;
  min-width: 2rem;
  height: 0;
  background-color: var(--soft-red);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  display: block;
  align-self: end;
  transition: background-color 0.3s ease-in, height 1s ease-out;
}

.bar:hover {
  background-color: var(--soft-red-lighter);
}

.bar--selected {
  background-color: var(--cyan);
}

.bar--selected:hover {
  background-color: var(--cyan-lighter);
}

.bar-value {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--very-pale-orange);
  background-color: var(--dark-brown);
  min-width: 5rem;
  padding: 0.65rem 0.5rem;
  border-radius: 0.4rem;
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 0.3s ease-in, pointer-events 0.3s ease-in,
    visibility 0.3s ease-in, transform 1s ease-out;
}

.bar-value.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.day-name {
  font-size: 1.2rem;
  text-align: center;
}

.error {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--soft-red);
  font-weight: 500;
}

.total-box {
  display: grid;
  grid-template-columns: 12rem 1fr;
  row-gap: 0.9rem;
  column-gap: 2rem;
  align-items: center;
}

.total-value {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-brown);
}

.percentage-box {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: end;
  text-align: end;
}

.percentage-value {
  color: var(--dark-brown);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

/* ******************************** */
/* MEDIA QUERIES */
/* ******************************** */

/* ABOVE 640px */
@media (min-width: 40em) {
  html {
    font-size: 68.75%;
  }

  .top-box {
    padding: 0 2.5rem;
  }

  .bottom-box {
    padding: 3rem 2.5rem;
  }

  .bar-value {
    font-size: 1.3rem;
    padding: 0.8rem 0.65rem;
  }
}

/* ABOVE 912px */
@media (min-width: 57em) {
  html {
    font-size: 73%;
  }

  .container {
    grid-template-rows: 10rem 1fr;
    row-gap: 1.8rem;
  }

  .top-box {
    border-radius: 1.6rem;
    padding: 0 3rem;
  }

  .balance-value {
    font-size: 2.6rem;
  }

  .bottom-box {
    border-radius: 1.6rem;
    padding: 3rem 3rem 4rem;
  }

  .title {
    font-size: 2.6rem;
  }

  .chart-container {
    border-bottom: 3px solid var(--cream);
    gap: 1.3rem;
  }

  .bar-value {
    letter-spacing: 1px;
    min-width: 5.7rem;
    padding: 0.85rem 0.7rem;
  }

  .total-value {
    font-size: 3.4rem;
    letter-spacing: -0.5px;
  }

  .percentage-value {
    margin-bottom: 0.5rem;
  }
}

/* ABOVE 1200px */
@media (min-width: 75em) {
  html {
    font-size: 77%;
  }

  .total-value {
    font-size: 3.7rem;
  }

  .error {
    line-height: 1.4;
  }
}
